body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

h1, h2 {
    margin: 10px 0;
}

.content {
    display: flex;
    align-items: flex-start;
}

.explanation {
    margin: 20px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-content {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
}

.image-row {
    display: flex;
    justify-content: space-between;
}

.image-row img {
    max-height: 150px;
    width: auto;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    font-size: 18px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
